.feed{
    flex: 5.5;
    height: 100%;
    background-color: #f5f6fa;
    padding: 10px;
}

.feedWrapper{
    padding: 20px;
    height: 100%;
    margin-left: -20px;
    background-color: #f5f6fa;
    border-radius: 10px;
}

.user-profile img{
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background: transparent;
}

.post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 70px; 
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.post-container .name{
    margin-left: 90px;
    margin-top: -50px;
    margin-bottom: 10px;
    font: normal bold 16px/13px "Roboto", sans-serif;
}

.post-container h5{
    margin-left: 90px;
    margin-top: -4px;
    font: normal 12px/9px "Roboto", sans-serif;
}

.post-container .post-text{
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.post-container .pic{
    width: 530px;
    height: 580;
    margin-left: 12px;
    margin-right: 10px;
}

.like{
    margin-left: 15px;
    margin-top: 15px;
}

.like-button{
    margin-left: 15px;
    margin-top: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    margin-top: 15px;
}

.activity-icons img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.acc{
    background: transparent;
    border: none;
}

.loader{
    margin-left: 15px;
    margin-top: 15px;
    font: normal 12px/9px "Roboto", sans-serif;
    color: rgb(78, 85, 97);
}