*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2596be;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-brand{
    font: normal bold 40px/20px "Roboto", sans-serif;
    color: #fff;
    margin-left: 20px;
}

.logo{
    width: 160px;
    margin-right: 45px;
    margin-left: 30px;
    color: #fff;
    font: normal bold 35px/20px "Roboto", sans-serif;
}

.nav-left, .nav-right{
    display: flex;
    align-items: center;
}

.nav-left ul li{
    list-style: none;
    display: inline-block;
}

.nav-left .bell-icon{
    margin-top: 10px;
    margin-right: 25px;
    margin-left: -20px;
    padding-top: 25px;
    height: 78px;
    color: #fff;
}

.nav-left .chat-icon{
    margin-left: 30x;
    margin-bottom: 25px;
    color: #fff;
}

.nav-user-icon img{
    border-radius: 60%;
    cursor: pointer;
}

.search-box{
    margin-right: 35px;
    background: #fff;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 25px;
}

.search-box img{
    width: 18px;
}
.search-box input{
    width: 100%;
    background: transperent;
    padding: 10px;
    outline: none;
    border: 0;
}

.nav-user-icon{
    margin-right: 30px;
}

.online{
    position: relative;
}

.online::after{
    content: ' ';
    /*padding-left: 18px;
    margin-left: 10px;*/
    width: 19px;
    height: 19px;
    border: 3px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}