.sidebar{
    flex: 3;
    height: calc(100vh - 50px);
    background-color: #f5f6fa;
    padding: 10px;
    position: sticky;
}

.sidebarWrapper{
    padding: 20px;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    position: sticky;

}

.left-sidebar{
    flex-basis: 25%;
    height: 60vh;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}

.imp-links a{
    text-decoration: none;
    display: flex;
    align-items: left;
    color: rgb(78, 85, 97);
    width: fit-content;
    font: normal medium 12px/9px "Roboto", sans-serif;
    margin-bottom: 8px;
}

.imp-links svg{
    width: 40px;
    height: 40px;
    color: #2596be;
    padding-top: 10px;
    padding-bottom: 6px;
    align-items: left;
}

.imp-links .see-more{
    margin-top: 10px;
    color: #2596be;
}

.imp-links .x1e56ztr{
    height: 15px;
    color: #2596be;
    margin-top: 10px;
}

.imp-links h6{
    font: normal 18px/13px "Roboto";
    color: #2596be;
    margin-top: 18px;
    margin-bottom: 23px;
}